@import url(style.css) screen;

/*핸드폰*/
@media (max-width:470px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex: 0;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;
        margin: 20px;
        padding: 10px;
        width: 250px;
        height: 250px;
        text-align: center;
        border-radius: 15px;

    }
}

/*컴퓨터*/
@media (min-width:470px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex: 0;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;
        margin: 20px;
        padding: 10px;
        width: 23%;
        height: 250px;
        text-align: center;
        border-radius: 15px;
    }
}